<html>
<head>

</head>
<body>
<table>
    <tr>
        <th>Room</th>
        <th>Trainer</th>
        <th>Group</th>
        <th>Subject</th>
    </tr>
    <% results.forEach(function (schedule) { %>
    <tr>
        <td><%=schedule. %></td>
        <td><%=schedule. %></td>
        <td><%=schedule. %></td>
        <td><%=schedule.%></td>
    </tr>
    <%})%>

</table>
</body>





</html>